# Spring Profile
SPRING_PROFILES_ACTIVE=dev
APP_PORT=8080

# Database Configuration
DEV_DB_HOST=10.205.82.165
DEV_DB_NAME=qttt_db
DEV_DB_USER=nentangso
DEV_DB_PASSWORD=qttt@123

# Redis Configuration
REDIS_HOST=79.108.216.78
REDIS_PORT=6379
REDIS_PASSWORD=FPT@2026

# Keycloak Configuration
DEV_KEYCLOAK_URL=http://79.108.216.21:8080
DEV_KEYCLOAK_INTERNAL_URL=http://79.108.216.21:8080
DEV_KEYCLOAK_SECRET=T34pLw26uDQ3egBpIvMuLqCZ0ipfgrlX

# CORS Configuration
DEV_ALLOWED_ORIGINS=http://localhost:5173

# JVM Options
JAVA_OPTS=-Xms2g -Xmx4g -XX:+UseG1GC
